<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
    <div class="container">


        <form action="#" th:action="@{/saveUser}" th:object="${person}" method="POST">

            <input type="text" th:field="*{name}">

            <input type="text" th:field="*{lastName}">

            <input type="text" th:field="*{email}">

            <button type="submit">
                Save user
            </button>
        </form>

        <hr>

        <a th:href="@{/}">table</a>
    </div>
</body>
</html>